<?xml version="1.0"?>

<robot name="mybots" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Load Simulated or Real Hardware Interfaces -->
   <xacro:arg name="is_sim" default="false"/>


  <!-- Include physical aspects of the robot, includes LIDAR and IMU -->
  <xacro:include filename="$(find mybots_description)/urdf/smallbot_physical.urdf.xacro" />


  <!-- Include ros2 control Parameters for both SIM and REAL robots-->
  <xacro:include filename="$(find mybots_description)/urdf/mybots_ros2_control.xacro" />

 
  <!-- Include gazebo Plugins for SIM only -->
  <xacro:if value="$(arg is_sim)">
      <xacro:include filename="$(find mybots_description)/urdf/mybots_gazebo_control.xacro" />
  </xacro:if>


</robot>